// spacing and widths
$containerWidth: 770px;
$horizontalGap: 60px;


// colors
$white: #FFFFFF;
$black: #101820;
$gray: #697B95;
$border-color: #D2DCE8;
$green: #76E691;
$dark-green: #53B16A;
$blue: #008FFF;
